<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KelaTech</title>
    <!-- Favicon -->
    <link href="assets/img/logo.png" rel="icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <header >
        
        <nav>
            <div class="left">
                
                <div class="hamburger-menu-icon">
                    <img src="assets/img/kelaTech.png" width="120" height="90" alt="logo kelatech">
                </div>
                
            </div>
            <div class="center">
                <div class="search">
                    <div class="previous">
                        <i class="fa fa-arrow-left"></i>
                    </div>
                    <input type="text" placeholder="Ara">
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="right">
                <div class="container">
                    <ul class="nav-links">
                        <li>
                            <i class="fas fa-video"></i>
                        </li>
                        <li>
                            <i class="fas fa-th"></i>
                        </li>
                        <li>
                            <i class="fas fa-bell"></i>
                        </li>
                    </ul>
                    <div class="profile">
                        <img src="./assets/img/profil.png" alt="">
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section class="sidebar">
            <div class="main-links">
                <ul>
                    <li class="active">
                        <div class="item-icon">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="item-title">
                            <span>Accueil</span>
                        </div>
                    </li>
                    <li>
                        <div class="item-icon">
                            <i class="fas fa-book"></i>
                        </div>
                        <div class="item-title">
                            <span>Cours</span>
                        </div>
                    </li>
                    <li>
                        <div class="item-icon">
                            <i class="fab fa-youtube-square"></i>
                        </div>
                        <div class="item-title">
                            <span>Formation</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="sub-main-links">
                <ul>
                    <li>
                        <div class="item-icon">
                            <i class="fas fa-camera-retro"></i>
                        </div>
                        <div class="item-title">
                            <span>Live</span>
                        </div>
                    </li>
                    <li>
                        <div class="item-icon">
                            <i class="fa fa-history"></i>
                        </div>
                        <div class="item-title">
                            <span>Récuperation</span>
                        </div>
                    </li>
                    
                    
                </ul>
            </div>
            <div class="subscriptions-links">
                <div class="heading-title">En ligne</div>
                <ul>
                    <li>
                        <div class="channel-logo">
                            <img src="./assets/img/profil.png" alt="">
                        </div>
                        <div class="item-title live">
                            <span>Elève</span>
                            <i class="fa fa-podcast "></i>
                        </div>
                    </li>
                    
                    
                    <li>
                        <div class="item-icon">
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </div>
                        <div class="item-title">
                            <span>Voir tout</span>
                        </div>
                    </li>
                </ul>
            </div>
            
            <div class="settings-links">
                <ul>
                    <li>
                        <div class="item-icon">
                            <i class="fa fa-cog" aria-hidden="true"></i>

                        </div>
                        <div class="item-title">
                            <span>Paramètre</span>

                        </div>
                    </li>
                   
                </ul>
            </div>
            
        </section>
        <section class="content">
            <div class="container">
                <div class="grid">
                    <div class="grid-item">
                        <div class="video-img">
                            <img src="https://i.ytimg.com/vi/8rDV3WDnCKw/hqdefault.jpg?sqp=-oaymwEZCOADEI4CSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLCMSoVw1iOzfsL4IiSnidG4l5gDHw" alt="">
                            <span class="time">04:12</span>
                        </div>
                        <div class="video-heading">
                            <div class="video-creator">
                                <div class="video-creator-img">
                                    <img src="https://yt3.ggpht.com/a-/AOh14Ggp32ojA3Yot9a7El6RHh72heaPm4Ilr9eEEA=s68-c-k-c0x00ffffff-no-rj-mo" alt="">
                                </div>
                            </div>
                            <div class="video-title">Eleni Vitali - Gramma Kai Grafi (English, Turkish Lyrics)</div>
                            <div class="dots">
                                <i class="fa fa-ellipsis-v"></i>
                            </div>
                        </div>
                        <div class="video-details">
                            <div class="temp"></div>
                            <div class="channel">
                                <span class="channel-name">Dünyadan Sesler </span>
                                <span class="views-number">4,1 Mn görüntüleme</span>
                                <span class="release-date">7 yıl önce</span>
                            </div>
                        </div>
                    </div>
                </div>
                    
            </div>
        </section>
    </main>
    <script src="assets/js/youtube.js"></script>
</body>

</html>